@import "./colors";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 100vh;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

header {
  border-bottom: 1px solid rgb(216, 210, 210);
}

footer { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgb(216, 210, 210);
}

.icon {
  width: 50px;
  height: 50px;
  &:hover {
    border-radius: 40px;
    cursor: pointer;
  }
}

.content-field {
  width: 100%;
  height: 100%;
}

.unactive {
  display: none;
}

@media (max-width: 1020px) {
  .btn-keyboard {
    display: none;
  }
}