@import "./mixin";

.footer {
  width: 180vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .contact {
    display: flex;
    align-items: center;
    margin: 10px;
    a {
      margin: 10px;
      text-decoration: none;
      @include font($fonts-dark, 25px, 400);
    }
  }
}